<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LaserScanServer" value="192.168.0.245"/>
    <add key="ListenerPort" value="2112"/>
    <!-- timer interval (ms) -->
    <add key="TimerInterval" value="80"/>

    <add key="StartAngleOnTheRight" value="true"/>
    <add key="StartAngle" value="40"/>
    <add key="FirstSpliter" value="120"/>
    <add key="SecondSpliter" value="120"/>
    <add key="EndAngle" value="150"/>
    <add key="ScanStartAngle" value="0"/>
    
    <!-- Very important data -->
    <add key="AngularCorrection" value="2.3777"/>

    <!-- uint mm -->
    <add key="MinBlob" value="20"/>
    <add key="MaxBlob" value="40"/>

    <!-- Whole Screen -->
    <add key="MaxWidth" value="1009"/>
    <add key="MinWidth" value="-95"/>
    <add key="MaxHeight" value="1355"/>
    <add key="MinHeight" value="770"/>
    <add key="WidthPixels" value="2732"/>
    <add key="HeightPixels" value="768"/>
    
    <!-- Section City -->
    
  </appSettings>
</configuration>